.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.jo-header {
  width: 100%;
  height: 100px;
  background-color: plum;
  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: 100px;
}

.jo-menu {
  width:200px;
  border :5px solid plum;
  margin: 10px 10px 10px 10px;
}

.jo-menuName {
  border-top: 5px solid blueviolet;
  font-weight: bold;
}

.jo-img {
  width: 180px;
}
.jo-boss {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;

}

.jo-link{

}

.jo-logo{
  width: 200px;
  height: 100px;
  padding-top: 100px;
}

.jo-cart-menu{
  width:200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jo-com-boss{
  width: 200px;
  border :5px solid plum;
  margin: 10px;
}

.com-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-menu{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid plum;
  width: 50%;
  height: 40px;
  text-align: center;
}
.camenu-big{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.jo-p{
  margin: 10px;
  padding: 10px;
}
.jo-cart-menu-name{
  width: 200px;
}

.jo-all-price{
  padding: 30px;
  font-weight: bold;
  font-size: 50px;
}